# SSO municipal — patrón Plataforma Digital (similar a Miraflores)
NEXT_PUBLIC_SSO_ISSUER_URL=https://sso.lamolina.gob.pe
NEXT_PUBLIC_SSO_CLIENT_ID=munimol-portal
NEXT_PUBLIC_SSO_LOGIN_URL=/api/auth/login
NEXT_PUBLIC_SSO_LOGOUT_URL=/api/auth/logout
NEXT_PUBLIC_SSO_CALLBACK_URL=/api/auth/callback
